{% extends 'malihes/base.html' %}

{% block style %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    }

    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
        z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
    }
    input#toplamtutar, input#ayliktutar, input#sigtutari, input#kastutari {
      text-align: end;
    }
</style>

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/5.3/examples/checkout/checkout.css" rel="stylesheet">

{% endblock %}

{% block sayfa %}
        <div class="py-3 text-center mt-4">
          <h2>Sefer Detay Formu</h2>
          <p class="lead">Eksik bilgileri güncelleyebilir yada sefer kaydını silebilirsiniz.</p>
        </div>

        <div class="row g-5">
          <div class="col">
            <form method="POST">
              {% csrf_token %}
              <div class="row g-3">
                <h4 class="mb-1">Araç Bilgileri</h4>
                <div class="col-md-4">
                  <label for="firstName" class="form-label">Çekici Plakası</label>
                  {{ sefer_form.Plakacekici }}
                </div>

                <div class="col-md-4">
                  <label for="firstName" class="form-label">Dorse Plakası</label>
                  {{ sefer_form.Plakadorse }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Şoför</label>
                  {{ sefer_form.Sofor }}
                </div>

                <h4 class="mb-1 mt-4">Rota Bilgileri</h4>
                <div class="col-md-4">
                  <label for="lastName" class="form-label">Çıkış Tarihi</label>
                  {{ sefer_form.Cikistarihi }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Çıkış Rotası</label>
                  {{ sefer_form.Cikisyeri }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Çıkış KM</label>
                  {{ sefer_form.Cikiskm }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Dönüş Tarihi</label>
                  {{ sefer_form.Varistarihi }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Dönüş Rotası</label>
                  {{ sefer_form.Varisyeri }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Dönüş KM</label>
                  {{ sefer_form.Variskm }}
                </div>

                <h4 class="mb-1 mt-4">Müşteri Bilgileri</h4>
                <div class="col-md-4">
                  <label for="firstName" class="form-label">Müşteri</label>
                  {{ sefer_form.Musteri }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Yük</label>
                  {{ sefer_form.Yuk }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Mesafe (KM)</label>
                  {{ sefer_form.Yol }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Taşıma Bedeli</label>
                  {{ sefer_form.Tasimabedeli }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Döviz Kuru</label>
                  {{ sefer_form.Dovizkuru }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Toplam Fiyat</label>
                  {{ sefer_form.Toplamfiyat }}
                </div>

                <h4 class="mb-1 mt-4">Yakıt Bilgileri</h4>
                <div class="col-md-3">
                  <label for="firstName" class="form-label">İstasyon</label>
                  {{ sefer_form.Istasyon }}
                </div>

                <div class="col-md-3">
                  <label for="lastName" class="form-label">Yakıt (Litre)</label>
                  {{ sefer_form.Litre }}
                </div>

                <div class="col-md-3">
                  <label for="lastName" class="form-label">Litre Fiyatı</label>
                  {{ sefer_form.Litrefiyati }}
                </div>

                <div class="col-md-3">
                  <label for="lastName" class="form-label">Toplam Yakıt</label>
                  {{ sefer_form.Toplamyakit }}
                </div>

                <h4 class="mb-1 mt-4">Diğer Bilgiler</h4>
                <div class="col-sm-6">
                  <label for="exampleFormControlTextarea1" class="form-label">Not</label>
                  {{ sefer_form.Not }}
                </div>
                <div class="col-sm-6">
                  <div class="col">
                    <label for="lastName" class="form-label">Diğer Giderler</label>
                    {{ sefer_form.Digergiderler }}
                  </div>
                  <div class="col">
                    <label for="lastName" class="form-label">Genel Toplam</label>
                    {{ sefer_form.Kalan }}
                  </div>
                </div>
              </div>
              <hr class="my-4">

              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1">
                <div class="btn-toolbar mb-2 mb-md-0">
                  <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href = '{% url 'sefersilurl' pk=pk %}';">Kayıt Sil</button>
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <button class="w-100 btn btn-primary btn-lg" type="submit">Kayıt Güncelle</button>
                </div>
              </div>

            </form>
          </div>
        </div>
        <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function () {
            // İlgili inputları seç
            const cikiskmInput = document.getElementById('id_Cikiskm');
            const variskmInput = document.getElementById('id_Variskm');
            const yolInput = document.getElementById('id_Yol');

            // Bir inputun değeri değiştiğinde mesafe hesapla
            function calculateDistance() {
              const cikiskm = parseFloat(cikiskmInput.value) || 0;
              const variskm = parseFloat(variskmInput.value) || 0;
              const distance = variskm - cikiskm;
              yolInput.value = distance.toFixed(2); // Mesafeyi (KM) olarak yaz
            }

            // Inputlara event listener ekle
            cikiskmInput.addEventListener('input', calculateDistance);
            variskmInput.addEventListener('input', calculateDistance);
          });
        </script>
        <script>
          document.getElementById('Varistarihi').addEventListener('change', function() {
            const tarih = this.value;
            if (tarih) {
              // AJAX isteği ile döviz kuru bilgisini al
              fetch(`/get-doviz-kuru/?tarih=${tarih}`)
                .then(response => response.json())
                .then(data => {
                  if (data.doviz_kuru) {
                    // Döviz kuru bilgisini formdaki Dovizkuru alanına yerleştir
                    document.getElementById('Dovizkuru').value = data.doviz_kuru;
                    hesaplaToplamFiyat();
                  } else {
                    document.getElementById('Dovizkuru').value = 'Veri bulunamadı';
                  }
                })
                .catch(error => {
                  console.error('Hata:', error);
                  document.getElementById('Dovizkuru').value = 'Hata oluştu';
                });
            }
          });
          function hesaplaToplamFiyat() {
            const tb = parseFloat(document.getElementById("tasimabedeli").value || 0);
            const dk = parseFloat(document.getElementById("Dovizkuru").value || 0);
            const tf = tb * dk;

            document.getElementById("toplamfiyat").value = tf.toFixed(2);
          }
        </script>
        <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function () {
            // İlgili inputları seç
            const tasimabedeliInput = document.getElementById('tasimabedeli');
            const dovizkuruInput = document.getElementById('Dovizkuru');
            const toplamfiyatInput = document.getElementById('toplamfiyat');

            // Bir inputun değeri değiştiğinde mesafe hesapla
            function calculateDistance() {
              const tb = parseFloat(tasimabedeliInput.value) || 0;
              const dk = parseFloat(dovizkuruInput.value) || 0;
              const tf = tb * dk;
              toplamfiyatInput.value = tf.toFixed(2); // Mesafeyi (KM) olarak yaz
            }

            // Inputlara event listener ekle
            tasimabedeliInput.addEventListener('input', calculateDistance);
            dovizkuruInput.addEventListener('input', calculateDistance);
          });
        </script>
        <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function () {
            // İlgili inputları seç
            const yakitInput = document.getElementById('litre');
            const litreInput = document.getElementById('litrefiyati');
            const toplamyakitInput = document.getElementById('toplamyakit');

            // Bir inputun değeri değiştiğinde mesafe hesapla
            function calculateDistance() {
              const yakit = parseFloat(yakitInput.value) || 0;
              const litre = parseFloat(litreInput.value) || 0;
              const topyakit = yakit * litre;
              toplamyakitInput.value = topyakit.toFixed(2); // Mesafeyi (KM) olarak yaz
            }

            // Inputlara event listener ekle
            yakitInput.addEventListener('input', calculateDistance);
            litreInput.addEventListener('input', calculateDistance);
          });
        </script>
          

    
{% endblock %}
