{% extends 'malihes/base.html' %}

{% block style %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    }

    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
        z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
    }

    .cekici-item, .dorse-item {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    .cekici-item:hover, .dorse-item:hover {
        background-color: lightgray;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
</style>

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/5.3/examples/checkout/checkout.css" rel="stylesheet">

{% endblock %}

{% block sayfa %}
        <div class="py-3 text-center mt-4">
          <h2>Sefer Kayıt Formu</h2>
          <p class="lead">Çekici ve Dorse plakasını otomatik tamamlayıcıdan seçebilirsiniz. Şoför listesi Harcırah alıp sefer kaydı yapılmamış olanları göstermektedir. Dönüş Tarihi seçildiğinde döviz kuru otomatik gelecektir.</p>
        </div>

        <div class="row g-5">
          <div class="col">
            <form method="POST">
              {% csrf_token %}
              <div class="row g-3">
                <h4 class="mb-1">Araç Bilgileri</h4>
                <div class="col-md-4">
                  <label for="firstName" class="form-label">Çekici Plakası</label>
                  {{ form.Plakacekici }}
                  <div id="cekici-listesi" style="border: 1px solid #ccc; display: none; position: absolute; background: white; max-height: 200px; overflow-y: auto;"></div>
                </div>

                <div class="col-md-4">
                  <label for="firstName" class="form-label">Dorse Plakası</label>
                  {{ form.Plakadorse }}
                  <div id="dorse-listesi" style="border: 1px solid #ccc; display: none; position: absolute; background: white; max-height: 200px; overflow-y: auto;"></div>
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Şoför</label>
                  {{ form.Sofor }}
                </div>

                <h4 class="mb-1 mt-4">Rota Bilgileri</h4>
                <div class="col-md-4">
                  <label for="lastName" class="form-label">Çıkış Tarihi</label>
                  {{ form.Cikistarihi }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Çıkış Rotası</label>
                  {{ form.Cikisyeri }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Çıkış KM</label>
                  {{ form.Cikiskm }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Dönüş Tarihi</label>
                  {{ form.Varistarihi }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Dönüş Rotası</label>
                  {{ form.Varisyeri }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Dönüş KM</label>
                  {{ form.Variskm }}
                </div>

                <h4 class="mb-1 mt-4">Müşteri Bilgileri</h4>
                <div class="col-md-4">
                  <label for="firstName" class="form-label">Müşteri</label>
                  {{ form.Musteri }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Yük</label>
                  {{ form.Yuk }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Mesafe (KM)</label>
                  {{ form.Yol }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Taşıma Bedeli ($)</label>
                  {{ form.Tasimabedeli }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Döviz Kuru</label>
                  {{ form.Dovizkuru }}
                </div>

                <div class="col-md-4">
                  <label for="lastName" class="form-label">Toplam Fiyat</label>
                  {{ form.Toplamfiyat }}
                </div>

                <h4 class="mb-1 mt-4">Yakıt Bilgileri</h4>
                <div class="col-md-3">
                  <label for="firstName" class="form-label">İstasyon</label>
                  {{ form.Istasyon }}
                </div>

                <div class="col-md-3">
                  <label for="lastName" class="form-label">Yakıt (Litre)</label>
                  {{ form.Litre }}
                </div>

                <div class="col-md-3">
                  <label for="lastName" class="form-label">Litre Fiyatı</label>
                  {{ form.Litrefiyati }}
                </div>

                <div class="col-md-3">
                  <label for="lastName" class="form-label">Toplam Yakıt</label>
                  {{ form.Toplamyakit }}
                </div>

                <h4 class="mb-1 mt-4">Diğer Bilgiler</h4>
                <div class="col-sm-6">
                  <label for="exampleFormControlTextarea1" class="form-label">Not</label>
                  {{ form.Not }}
                </div>
                <div class="col-sm-6">
                  <div class="col">
                    <label for="lastName" class="form-label">Diğer Giderler</label>
                    {{ form.Digergiderler }}
                  </div>
                  <div class="col">
                    <label for="lastName" class="form-label">Genel Toplam</label>
                    {{ form.Kalan }}
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <button class="w-100 btn btn-primary btn-lg" type="submit">Sefer Ekle</button>
            </form>
          </div>
          <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
              // İlgili inputları seç
              const cikiskmInput = document.getElementById('id_Cikiskm');
              const variskmInput = document.getElementById('id_Variskm');
              const yolInput = document.getElementById('id_Yol');

              // Bir inputun değeri değiştiğinde mesafe hesapla
              function calculateDistance() {
                const cikiskm = parseFloat(cikiskmInput.value) || 0;
                const variskm = parseFloat(variskmInput.value) || 0;
                const distance = variskm - cikiskm;
                yolInput.value = distance.toFixed(2); // Mesafeyi (KM) olarak yaz
              }

              // Inputlara event listener ekle
              cikiskmInput.addEventListener('input', calculateDistance);
              variskmInput.addEventListener('input', calculateDistance);
            });
          </script>
          <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
              // İlgili inputları seç
              const dovizkuruInput = document.getElementById('Dovizkuru');
              const tasimabedeliInput = document.getElementById('tasimabedeli');
              const toplamfiyatInput = document.getElementById('toplamfiyat');

              // Bir inputun değeri değiştiğinde mesafe hesapla
              function calculateDistance() {
                const dk = parseFloat(dovizkuruInput.value) || 0;
                const tb = parseFloat(tasimabedeliInput.value) || 0;
                const tf = tb * dk;
                toplamfiyatInput.value = tf.toFixed(2); // Toplam fiyatı hesapla
              }

              // Inputlara event listener ekle
              dovizkuruInput.addEventListener('input', calculateDistance);
              tasimabedeliInput.addEventListener('input', calculateDistance);              
            });
          </script>
          <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
              // İlgili inputları seç
              const yakitInput = document.getElementById('litre');
              const litreInput = document.getElementById('litrefiyati');
              const toplamyakitInput = document.getElementById('toplamyakit');

              // Bir inputun değeri değiştiğinde mesafe hesapla
              function calculateDistance() {
                const yakit = parseFloat(yakitInput.value) || 0;
                const litre = parseFloat(litreInput.value) || 0;
                const topyakit = yakit * litre;
                toplamyakitInput.value = topyakit.toFixed(2); // Toplam yakıtı hesapla
              }

              // Inputlara event listener ekle
              yakitInput.addEventListener('input', calculateDistance);
              litreInput.addEventListener('input', calculateDistance);
            });
          </script>
          <script>
            document.getElementById('Varistarihi').addEventListener('change', function() {
              const tarih = this.value;
              if (tarih) {
                // AJAX isteği ile döviz kuru bilgisini al
                fetch(`/get-doviz-kuru/?tarih=${tarih}`)
                  .then(response => response.json())
                  .then(data => {
                    if (data.doviz_kuru) {
                      // Döviz kuru bilgisini formdaki Dovizkuru alanına yerleştir
                      document.getElementById('Dovizkuru').value = data.doviz_kuru;
                      hesaplaToplamFiyat();
                    } else {
                      document.getElementById('Dovizkuru').value = 'Veri bulunamadı';
                    }
                  })
                  .catch(error => {
                    console.error('Hata:', error);
                    document.getElementById('Dovizkuru').value = 'Hata oluştu';
                  });
              }
            });
            function hesaplaToplamFiyat() {
              const tb = parseFloat(document.getElementById("tasimabedeli").value || 0);
              const dk = parseFloat(document.getElementById("Dovizkuru").value || 0);
              const tf = tb * dk;

              document.getElementById("toplamfiyat").value = tf.toFixed(2);
            }
          </script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script>
              $(document).ready(function() {
                  $("#cekiciplaka").on("keyup", function() {
                      let query = $(this).val();
                      if (query.length > 1) {
                          $.ajax({
                              url: '/api/cekici-plaka-listesi/',
                              data: { q: query },
                              success: function(data) {
                                  let listDiv = $("#cekici-listesi");
                                  listDiv.empty().show();
                                  if (data.length > 0) {
                                      data.forEach(function(item) {
                                          listDiv.append('<div class="cekici-item" data-id="' + item.id + '">' + item.Plaka + '</div>');
                                      });
                                  } else {
                                      listDiv.append('<div class="cekici-item">Sonuç Bulunamadı.</div>');
                                  }
                              }
                          });
                      } else {
                          $("#cekici-listesi").hide();
                      }
                  });

                  // Plaka listesinde bir elemana tıklandığında input'a yaz
                  $(document).on("click", ".cekici-item", function() {
                      $("#cekiciplaka").val($(this).text());
                      $("#cekici-listesi").hide();
                  });

                  // Liste dışına tıklanınca listeyi gizle
                  $(document).on("click", function(e) {
                      if (!$(e.target).closest("#cekiciplaka, #cekici-listesi").length) {
                          $("#cekici-listesi").hide();
                      }
                  });
              });
          </script>
          <script>
              $(document).ready(function() {
                  $("#dorseplaka").on("keyup", function() {
                      let query = $(this).val();
                      if (query.length > 1) {
                          $.ajax({
                              url: '/api/dorse-plaka-listesi/',
                              data: { q: query },
                              success: function(data) {
                                  let listDiv = $("#dorse-listesi");
                                  listDiv.empty().show();
                                  if (data.length > 0) {
                                      data.forEach(function(item) {
                                          listDiv.append('<div class="dorse-item" data-id="' + item.id + '">' + item.Plaka + '</div>');
                                      });
                                  } else {
                                      listDiv.append('<div class="dorse-item">Sonuç Bulunamadı.</div>');
                                  }
                              }
                          });
                      } else {
                          $("#dorse-listesi").hide();
                      }
                  });

                  // Plaka listesinde bir elemana tıklandığında input'a yaz
                  $(document).on("click", ".dorse-item", function() {
                      $("#dorseplaka").val($(this).text());
                      $("#dorse-listesi").hide();
                  });

                  // Liste dışına tıklanınca listeyi gizle
                  $(document).on("click", function(e) {
                      if (!$(e.target).closest("#dorseplaka, #dorse-listesi").length) {
                          $("#dorse-listesi").hide();
                      }
                  });
              });
          </script>
        </div>
    
{% endblock %}
